# ================================
# ENVIRONNEMENTS VIRTUELS
# ================================
cde_env/
cde_fastapi_env/
cde_streamlit_env/
.venv/
venv/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# DONNÉES LOURDES / TEMPORAIRES
# ================================
data/
data/raw/
data/tmp/
spacy_models/
swapfile
*.swp
*.bak
data/model/*.pkl

# ================================
# DOCKER / COMPOSE
# ================================
docker/
docker-data/
docker-compose.override.yml
docker-compose.backup.yml

# ================================
# MLflow et modèles
# ================================
mlruns/
mlartifacts/
--default-artifact-root/
mlflow.log
LOGFILE_ML

# Ignorer uniquement les modèles lourds, pas les scripts Python
scripts/models/*.pkl
scripts/models/*.bin
scripts/models/*.pt
scripts/models/*.joblib
scripts/models/*.h5
scripts/models/*.sav
scripts/models/*.onnx

# Garder les scripts Python
!scripts/**/*.py

# ================================
# LOGS ET SORTIES
# ================================
log/
logs/
*.log
nohup.out
tmp/
all_logs_consolidated.log

# ================================
# SYSTÈME / CACHES
# ================================
.cache/
.local/
snap/
snapd/
snap_backup/
snapd_backup/
lost+found/
__cache__/
tmp_cache/

# ================================
# NOTEBOOKS / IDE
# ================================
.ipynb_checkpoints/
.vscode/
.vscode-server/
.DS_Store

# ================================
# SECRETS / CONFIGS
# ================================
.env
.env.*
.envrc
*.key
*.pem
*.crt
*.secrets
./data/processed/resources/xdg_cache/.cache/pip/http/5/d/c/7/d/5dc7d247c119bddffc9211e36d28b3f42f5b1bc1dedfc4cae1da30b2
./data/model/randomforest_sentiment.pkl
./data/model/randomforest_note.pkl
./snapd/snaps/gnome-42-2204_202.snap
./snapd/seed/snaps/firefox_1300.snap
./snapd/seed/snaps/gnome-3-38-2004_99.snap
./snap_backup/snap/gnome-42-2204/202/usr/lib/x86_64-linux-gnu/libLLVM-15.so.1
./.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node
./.vscode-server/cli/servers/Stable-7d842fb85a0275a4a8e4d7e040d2625abbf7f084/server/node
./.vscode-server/cli/servers/Stable-385651c938df8a906869babee516bffd0ddb9829/server/node
./.vscode-server/cli/servers/Stable-03c265b1adee71ac88f833e065f7bb956b60550a/server/node
./.vscode-server/cli/servers/Stable-0f0d87fa9e96c856c5212fc86db137ac0d783365/server/node
./.cache/huggingface/hub/models--nlptown--bert-base-multilingual-uncased-sentiment/blobs/0435c6c12c80a0a2206137c9fa8f6478fce4f4de88ac3d43d0f0e0da3c8c767b
./.cache/huggingface/models--nlptown--bert-base-multilingual-uncased-sentiment/blobs/0435c6c12c80a0a2206137c9fa8f6478fce4f4de88ac3d43d0f0e0da3c8c767b
./snapd_backup/snapd/snaps/gnome-42-2204_202.snap
./snapd_backup/snapd/seed/snaps/firefox_1300.snap
./snapd_backup/snapd/seed/snaps/gnome-3-38-2004_99.snap
./cde_env/lib/python3.10/site-packages/triton/_C/libtriton.so
./cde_env/lib/python3.10/site-packages/torch/lib/libtorch_cpu.so
./cde_env/lib/python3.10/site-packages/cusparselt/lib/libcusparseLt.so.0
./cde_env/lib/python3.10/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./cde_env/lib/python3.10/site-packages/nvidia/cublas/lib/libcublas.so.12
./cde_env/lib/python3.10/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./cde_env/lib/python3.10/site-packages/nvidia/nccl/lib/libnccl.so.2
./cde_env/lib/python3.10/site-packages/nvidia/cufft/lib/libcufft.so.11
./snap/gnome-42-2204/202/usr/lib/x86_64-linux-gnu/libLLVM-15.so.1
./swapfile
./data/processed/resources/xdg_cache/.cache/pip/http/5/d/c/7/d/5dc7d247c119bddffc9211e36d28b3f42f5b1bc1dedfc4cae1da30b2
./data/model/randomforest_sentiment.pkl
./data/model/randomforest_note.pkl
./snapd/snaps/gnome-42-2204_202.snap
./snapd/seed/snaps/firefox_1300.snap
./snapd/seed/snaps/gnome-3-38-2004_99.snap
./snap_backup/snap/gnome-42-2204/202/usr/lib/x86_64-linux-gnu/libLLVM-15.so.1
./.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node
./.vscode-server/cli/servers/Stable-7d842fb85a0275a4a8e4d7e040d2625abbf7f084/server/node
./.vscode-server/cli/servers/Stable-385651c938df8a906869babee516bffd0ddb9829/server/node
./.vscode-server/cli/servers/Stable-03c265b1adee71ac88f833e065f7bb956b60550a/server/node
./.vscode-server/cli/servers/Stable-0f0d87fa9e96c856c5212fc86db137ac0d783365/server/node
./.cache/huggingface/hub/models--nlptown--bert-base-multilingual-uncased-sentiment/blobs/0435c6c12c80a0a2206137c9fa8f6478fce4f4de88ac3d43d0f0e0da3c8c767b
./.cache/huggingface/models--nlptown--bert-base-multilingual-uncased-sentiment/blobs/0435c6c12c80a0a2206137c9fa8f6478fce4f4de88ac3d43d0f0e0da3c8c767b
./snapd_backup/snapd/snaps/gnome-42-2204_202.snap
./snapd_backup/snapd/seed/snaps/firefox_1300.snap
./snapd_backup/snapd/seed/snaps/gnome-3-38-2004_99.snap
./cde_env/lib/python3.10/site-packages/triton/_C/libtriton.so
./cde_env/lib/python3.10/site-packages/torch/lib/libtorch_cpu.so
./cde_env/lib/python3.10/site-packages/cusparselt/lib/libcusparseLt.so.0
./cde_env/lib/python3.10/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
./cde_env/lib/python3.10/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./cde_env/lib/python3.10/site-packages/nvidia/cublas/lib/libcublas.so.12
./cde_env/lib/python3.10/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./cde_env/lib/python3.10/site-packages/nvidia/nccl/lib/libnccl.so.2
./cde_env/lib/python3.10/site-packages/nvidia/cufft/lib/libcufft.so.11
./snap/gnome-42-2204/202/usr/lib/x86_64-linux-gnu/libLLVM-15.so.1
./swapfile
